.slider {
  overflow: hidden;
  position: relative; /* Add this to establish a positioning context */

}

.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  animation: zoom 7s infinite;
  background-color: #000;
}

.slider img.active {
  opacity: 1;
  transform: scale(1);
  animation-delay: 0.5s;
  animation: zoom 7s infinite;
}
.slider img.inactive {
  opacity: 0;
  transform: scale(1.1);
}

.slider img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.9); 
}

@keyframes zoom {
  to {
    transform: scale(1.1);
  }
}

.inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.9);
}